<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t:%C@%L] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="error">
      <AppenderRef ref="Console"/>
    </Root>
    <!-- TODO: https://issues.apache.org/jira/browse/CURATOR-659 -->
    <Logger name="org.apache.curator.framework.recipes.leader.LeaderSelector" level="off"/>
  </Loggers>
</Configuration>
