name: Release

on: 
  push: 
    tags: 
      - '*'

jobs:
  create-release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Build with Maven
        run: mvn -B package -DskipTests -Dassembly.skipAssembly=true
      - uses: ncipollo/release-action@v1
        with:
          artifacts: "starlight-rabbitmq/**/*.nar,starlight-rabbitmq/**/*-jar-with-dependencies.jar"
          token: ${{ secrets.GITHUB_TOKEN }}